<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <h1>Calculadora</h1>

    <!-- ACTION => Para onde os dados vão -->
    <!-- METHOD => Como eles vão -->
    <form action="" method="POST">
        <label for="nome">Digite seu nome:</label>
        <input type="text" name="nome" id="nome">
        <br><br>
        <label for="numero1">Digite o primeiro núnero:</label>
        <input type="number" name="numero1" id="numero1">
        <br>
        <label for="numero2">Digite o segundo núnero:</label>
        <input type="number" stp="0.01" name="numero2" id="numero2">
        
        <br><br>
        <button type="submit">Calcular</button>
    </form>
</body>
</html>